div{
    width: 250px;
    height: 250px;
    background-color: red;
}
#verde{
    background-color:#0f0 ;
}
alto{
    height: 350px;
}
.azul{
    background-color: #00f;
}
.pequeno{
    width: 150px;
}
.grande{
    width: 350px;
}
.minusculas{
    text-transform: lowercase;
}
.maiusculas{
    text-transform: uppercase;
}